<!doctype html>
<html>
	<head>
		<style>
			.message {
				background: #f8f8f8;
				display: none;
			}
			.message-bar {
				font-style: italic;
				font-weight: bolder;
			}
			.oneline {
				display: inline-flex;
				align-items: center;
			}
			.table {
				padding-left: 5px;
				padding-right: 5px;
			}
			.hint{order:2;flex:1 0 auto;width:20px;height:20px;position:relative;display:inline-flex;flex-direction:column;justify-content:center}
			.hint-icon{align-self:flex-end;color:#ccc;transition:all .3s;display:block;padding:5px}
			.hint-icon:hover{color:#333}
			.hint-popup-wrap{position:absolute;top:-4px;left:5px;width:300px}
			.hint-popup{position:absolute;z-index:3;left:20px;top:0;max-width:300px;min-height:18px;cursor:default;background:rgba(0,0,0,0.85);border-radius:3px;padding:5px 10px;color:rgba(255,255,255,1.0);font-size:12px;line-height:18px;visibility:hidden;opacity:0;transform:scale(0.96);transform-origin:right 9px;transition:all .3s}
			.hint-icon:hover+.hint-popup-wrap .hint-popup{visibility:visible;opacity:1;transform:scale(1)}
			.hint-popup:before{content:"";display:block;position:absolute;z-index:2;left:-6px;top:8px;border:6px solid transparent;border-right-color:rgba(0,0,0,0.85);border-left:0}
		</style>
		<script type="text/javascript" src="/manager/webserver/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
		<script type="text/javascript" src="/homey.js" data-origin="settings"></script>
		<script id="hintTmpl" type="text/ng-template"><i class="hint-icon fa fa-info-circle"></i>
			<div class="hint-popup-wrap">
				<div class="hint-popup">{{hint}}</div>
			</div>
		</script>
	</head>

	<body ng-controller="SettingsCtrl">
		<fieldset id="message" class="message">
			<legend data-i18n="settings.message"></legend>
			<div class="message-bar">
				{{message}}
			</div>
		</fieldset>
		<div id="protocols">
			<h1 data-i18n="settings.protocols.title"></h1>
			<form name="protocolForm" ng-submit="appSettingSave()">
				<fieldset>
					<legend data-i18n="settings.protocols.header"></legend>
					<p data-i18n="settings.protocols.description"></p>
					<fieldset style="float: left; margin-right:25px;">
							<legend>433 MHz</legend>
							<div ng-repeat="item in app.protocols | orderBy: 'id'">
								<div ng-if="item.freq==433">
									<input type="checkbox" value="{{item.id}}" ng-model="item.watching"><label>{{item.name}}</label>
									<div class="hint ng-scope" ng-if="item.hint" ng-include="'hintTmpl'" ng-init="hint = item.hint">
										<i class="hint-icon fa fa-info-circle ng-scope"></i>
									</div>
								</div>
							</div>
						</fieldset>
					<!-- Hide 868 for now, no supported sensors
					<fieldset style="float: left">
						<legend>868 MHz</legend>
						<div ng-repeat="item in app.protocols | orderBy: 'id'">
							<div ng-if="item.freq==868">
								<input type="checkbox" value="{{item.id}}" ng-model="item.watching"><label>{{item.name}}</label>
								<div class="hint ng-scope" ng-if="item.hint" ng-include="'hintTmpl'" ng-init="hint = item.hint">
									<i class="hint-icon fa fa-info-circle ng-scope"></i>
								</div>
							</div>
						</div>
					</fieldset>
				  -->
				</fieldset>
				<fieldset style="clear: left">
					<legend data-i18n="settings.app.header"></legend>
					<div class="oneline">
						<label data-i18n="settings.app.inactive.pre" style="margin-right:5px"></label>
						<select ng-model="app.inactive" ng-options="x.text for x in inactiveOptions"></select>
						<label data-i18n="settings.app.inactive.post" style="margin-left:5px"></label>
					</div>
					<p></p>
					<div class="oneline">
						<label data-i18n="settings.app.notify.pre" style="margin-right:5px"></label>
						<select ng-model="app.notify" ng-options="x.text for x in notifyOptions"></select>
						<label data-i18n="settings.app.notify.post" style="margin-left:5px"></label>
					</div>
				</fieldset>
				<div style="clear:left">
					<button type="submit" class="btn btn-default" ng-click="submitted=true;" data-i18n="settings.protocols.submit"></button>
				</div>
			</form>
		</div>
		<p></p>
		<div id="sensors">
			<h1 data-i18n="settings.sensors.title"></h1>
			<p data-i18n="settings.sensors.description"></p>
			<fieldset>
				<legend data-i18n="settings.sensors.header"></legend>
				<table class="table">
					<tr>
						<th data-i18n="settings.sensors.details.protocol"></th>
						<th data-i18n="settings.sensors.details.type"></th>
						<th data-i18n="settings.sensors.details.channel"></th>
						<th data-i18n="settings.sensors.details.id"></th>
						<th data-i18n="settings.sensors.details.update"></th>
						<th data-i18n="settings.sensors.details.data"></th>
						<th data-i18n="settings.sensors.details.paired"></th>
					</tr>
					<tr ng-repeat="item in sensors">
						<td>{{item.protocol}}</td>
						<td>{{item.type}}</td>
						<td>{{item.channel}}</td>
						<td>{{item.id}}</td>
						<td>{{item.update}}</td>
						<td>{{item.data}}</td>
						<td><input type="checkbox" ng-disabled="true" ng-model="item.paired"> {{item.name}}</td>
					</tr>
				</table>
			</fieldset>
			<h1 data-i18n="settings.debug.title"></h1>
			<p data-i18n="settings.debug.description"></p>
			<fieldset>
				<legend data-i18n="settings.debug.header"></legend>
				<form name="statForm" ng-submit="statistics()">
					<button id="stats" type="submit" class="btn btn-default" style="float: left; margin-right:25px;" ng-click="submitted=true;" data-i18n="settings.debug.statistics"></button>
				</form>
			</fieldset>
		</div>
		<script>
			angular.module('WeatherSettings', [])
			.controller('SettingsCtrl', ['$scope', '$timeout', function($scope, $timeout) {
				var Homey
				$scope.sensors = {};
				$scope.message = '';
				$scope.timeout;
				$scope.msgPromise;
				$scope.inactiveOptions = [
				   { text: __('settings.app.inactive.option.1min'), value: 60 },
				   { text: __('settings.app.inactive.option.2min'), value: 120 },
				   { text: __('settings.app.inactive.option.5min'), value: 300 },
				   { text: __('settings.app.inactive.option.10min'), value: 600 },
				   { text: __('settings.app.inactive.option.30min'), value: 1800 },
				   { text: __('settings.app.inactive.option.1hr'), value: 3600 },
				   { text: __('settings.app.inactive.option.2hr'), value: 7200 },
				   { text: __('settings.app.inactive.option.5hr'), value: 18000 },
				   { text: __('settings.app.inactive.option.10hr'), value: 36000 },
				   { text: __('settings.app.inactive.option.1day'), value: 86400 },
				];
				$scope.notifyOptions = [
				   { text: __('settings.app.notify.option.none'), value: 0 },
				   { text: __('settings.app.notify.option.active'), value: 1 },
				   { text: __('settings.app.notify.option.inactive'), value: 2 },
				   { text: __('settings.app.notify.option.both'), value: 3 }
				];
				// Set default values
				$scope.app = {
					protocols: {},
					inactive: $scope.inactiveOptions[7],
					notify: $scope.notifyOptions[2]
				};

				$scope.$on('ready', function($e, Homey_) {
					Homey = Homey_;
					$scope.__ = Homey.__;

					// Update the list when a new sensor is found
					Homey.on('sensor_update', function(value) {
						if (value) {
							$scope.sensors = value;
							$scope.$apply();
						}
					});
					// Get sensors already found
					Homey.api('GET', '/getSensors/', {}, function(err, sensors) {
						if (sensors) {
							$scope.sensors = sensors;
							$scope.$apply();
						}
					});
					Homey.get('protocols', function(err, value) {
						// Get list of supported protocols
						Homey.api('GET', '/getProtocols/', {}, function(err, protocols) {
							if (protocols) {
								$scope.app.protocols = protocols;
								if (value) {
									for (var v in value) {
										if (value[v].watching != null && $scope.app.protocols[v] != null) {
											$scope.app.protocols[v].watching = value[v].watching;
										}
									}
								}
								$scope.$apply();
							}
						});
					});
					Homey.get('app', function(err, value) {
						if (value) {
							for (v in $scope.inactiveOptions) {
							   if ($scope.inactiveOptions[v].value === value.inactive) {
							      $scope.app.inactive = $scope.inactiveOptions[v];
							   }
						    }
							for (v in $scope.notifyOptions) {
							   if ($scope.notifyOptions[v].value === value.notify) {
							      $scope.app.notify = $scope.notifyOptions[v];
							   }
							}
						}
						$scope.$apply();
					});

					Homey.ready();
				});

				// Display message to the user
				$scope.displayMessage = function(text) {
					if ($scope.msgPromise != null) {
						$timeout.cancel($scope.msgPromise);
					}
					$scope.$apply(function() {
						$scope.message = text;
					});
					$(".message").slideDown();
					$scope.msgPromise = $timeout(function() {
						$scope.message = '';
						$(".message").slideUp();
					}, 5000);
				}

				// Save the application settings (e.g. protocols)
				$scope.appSettingSave = function() {
					// Store the protocol settings
					Homey.set('protocols', $scope.app.protocols, function(err, value) {
						if (!err) {
							$scope.displayMessage(__('settings.protocols.success'));
						}
					});
					var appSetting = {
						inactive: $scope.app.inactive.value,
						notify: $scope.app.notify.value
					};
					Homey.set('app', appSetting, function(err, value) {
					});
				};

				// debugging: Statistics
				$scope.statistics = function() {
					$('#stats').prop('disabled', true);
					Homey.api('GET', '/getStatistics/', {}, function(err, data) {
						var filename = "stats" + (new Date()).valueOf() + ".json";
						var result = JSON.stringify(data, null, "\t");
						var a = document.createElement("a");
						document.body.appendChild(a);
						a.style = "display:none";
						blob = new Blob([result], {type: "text/plain"}),
						url = window.URL.createObjectURL(blob);
						a.href = url;
						a.download = filename;
						a.click();
						window.URL.revokeObjectURL(url);
						$('#stats').prop('disabled', false);
					});
				};
			}]);

			function onHomeyReady(Homey) {
				angular.bootstrap(document, ['WeatherSettings']);
				var scope = angular.element(document.body).scope();
				scope.$emit('ready', Homey);
				//Homey.ready();
			}
		</script>
	</body>
</html>
