<!doctype html>
<html>
	<head>
		<style>
			.message {
				background: #f8f8f8;
				display: none;
			}
			.message-bar {
				font-style: italic;
				font-weight: bolder;
			}
			.table {
				padding-left: 5px;
				padding-right: 5px;
			}
		</style>
		<script type="text/javascript" src="/manager/webserver/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
		<script>
			angular.module('WeatherSettings', [])
			.controller('SettingsCtrl', ['$scope', '$timeout', function($scope, $timeout) {
				$scope.sensors = {};
				$scope.protocols = {};
				$scope.message = '';
				$scope.timeout;
				$scope.msgPromise;
				
				// Display message to the user
				$scope.displayMessage = function(text) {
					if ($scope.msgPromise != null) {
						$timeout.cancel($scope.msgPromise);
					}
					$scope.$apply(function() {
						$scope.message = text;
					});
					$(".message").slideDown();
					$scope.msgPromise = $timeout(function() {
						$scope.message = '';
						$(".message").slideUp();
					}, 5000);
				}

				// Update the list when a new sensor is found
				Homey.on('new_sensor', function(value) {
					if (value) {
						$scope.sensors = value;
						$scope.$apply();
					}
				});
				// Get sensors already found
				Homey.api('GET', '/getSensors/', {}, function(err, sensors) {
					if (sensors) {
						$scope.sensors = sensors;
						$scope.$apply();
					}
				});
				Homey.get('protocols', function(err, value) {
					// Get list of supported protocols
					Homey.api('GET', '/getProtocols/', {}, function(err, protocols) {
						if (protocols) {
							$scope.protocols = protocols;
							if (value) {
								for (var v in value) {
									if (value[v].watching != null && $scope.protocols[v] != null) {
										$scope.protocols[v].watching = value[v].watching;
									}
								}
							}
							$scope.$apply();
						}
					});
				});
				// Save the protocols
				$scope.protocolSave = function() {
					// Store the protocol settings
					Homey.set('protocols', $scope.protocols, function(err, value) {
						if (!err) {
							$scope.displayMessage(__('settings.protocols.success'));
						}
					});
				};
			}]);
			
			function onHomeyReady(){
				angular.bootstrap(document, ['WeatherSettings']);
				Homey.ready();
			}
		</script>
	</head>

	<body ng-controller="SettingsCtrl">
		<fieldset id="message" class="message">
			<legend data-i18n="settings.message"></legend>
			<div class="message-bar">
				{{message}}
			</div>
		</fieldset>
		<div id="protocols">
			<h1 data-i18n="settings.protocols.title"></h1>
			<p data-i18n="settings.protocols.description"></p>
			<fieldset>
				<legend data-i18n="settings.protocols.header"></legend>
				<form name="protoclForm" ng-submit="protocolSave()">
					<div ng-repeat="item in protocols | orderBy: 'id'">
						<input type="checkbox" value="{{item.id}}" ng-model="item.watching"><label>{{item.name}}</label>
					</div>
					<p></p>
					<button type="submit" class="btn btn-default" ng-click="submitted=true;" data-i18n="settings.protocols.submit"></button>
				</form>
			</fieldset>
		</div>
		<div id="sensors">
			<h1 data-i18n="settings.sensors.title"></h1>
			<p data-i18n="settings.sensors.description"></p>
			<fieldset>
				<legend data-i18n="settings.sensors.header"></legend>
				<table class="table">
					<tr>
						<th data-i18n="settings.sensors.details.protocol"></th>
						<th data-i18n="settings.sensors.details.type"></th>
						<th data-i18n="settings.sensors.details.channel"></th>
						<th data-i18n="settings.sensors.details.id"></th>
						<th data-i18n="settings.sensors.details.update"></th>
						<th data-i18n="settings.sensors.details.data"></th>
						<th data-i18n="settings.sensors.details.paired"></th>
					</tr>
					<tr ng-repeat="item in sensors">
						<td>{{item.protocol}}</td>
						<td>{{item.type}}</td>
						<td>{{item.channel}}</td>
						<td>{{item.id}}</td>
						<td>{{item.update}}</td>
						<td>{{item.data}}</td>
						<td><input type="checkbox" ng-disabled="true" ng-model="item.paired"></td>
					</tr>
				</table>
			</fieldset>
		</div>
	</body>
</html>