<!doctype html>
<html>
	<head>
		<style>
			.table {
				padding-left: 5px;
				padding-right: 5px;
			}
		</style>
		<script type="text/javascript" src="/manager/webserver/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/manager/webserver/assets/js/angular.js"></script>
		<script>
			angular.module('WeatherSettings', [])
			.controller('SettingsCtrl', ['$scope', function($scope) {
				$scope.sensors = {};
				
				// Update the list when a new sensor is found
				Homey.on('new_sensor', function(value) {
					if (value) {
						$scope.sensors = value;
						$scope.$apply();
					}
				});
				// Get sensors already found
				Homey.api('GET', '/getSensors/', {}, function(err, sensors) {
					if (sensors) {
						$scope.sensors = sensors;
						$scope.$apply();
					}
				});
			}]);
			
			function onHomeyReady(){
				angular.bootstrap(document, ['WeatherSettings']);
				Homey.ready();
			}
		</script>
	</head>

	<body ng-controller="SettingsCtrl">
		<div id="sensors">
			<h1 data-i18n="settings.sensors.title"></h1>
			<p data-i18n="settings.sensors.description"></p>
			<fieldset>
				<legend data-i18n="settings.sensors.header"></legend>
				<table class="table">
					<tr>
						<th data-i18n="settings.sensors.details.protocol"></th>
						<th data-i18n="settings.sensors.details.type"></th>
						<th data-i18n="settings.sensors.details.channel"></th>
						<th data-i18n="settings.sensors.details.id"></th>
						<th data-i18n="settings.sensors.details.update"></th>
						<th data-i18n="settings.sensors.details.data"></th>
						<th data-i18n="settings.sensors.details.paired"></th>
					</tr>
					<tr ng-repeat="item in sensors">
						<td>{{item.protocol}}</td>
						<td>{{item.type}}</td>
						<td>{{item.channel}}</td>
						<td>{{item.id}}</td>
						<td>{{item.update}}</td>
						<td>{{item.data}}</td>
						<td><input type="checkbox" ng-disabled="true" ng-model="item.paired"></td>
					</tr>
				</table>
			</fieldset>
		</div>
	</body>
</html>